spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    repair-on-migrate: true
    out-of-order: false

  mail:
    host: ${EMAIL_HOST:smtp-relay.brevo.com}
    port: ${EMAIL_PORT:587}
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 10000
          timeout: 10000
          writetimeout: 10000

# Disable Swagger in production
springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false

server:
  port: ${PORT:8080}
  forward-headers-strategy: framework

# Restrict actuator in prod
management:
  endpoint:
    health:
      show-details: never

logging:
  level:
    root: INFO
    com.peterscode: INFO

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 86400000
