spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true

# Disable Swagger in production
springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false

server:
  port: ${PORT:8080}
  forward-headers-strategy: framework

# Restrict actuator in prod
management:
  endpoint:
    health:
      show-details: never

logging:
  level:
    root: WARN
    com.peterscode: INFO

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 86400000
