spring:
  datasource:
    url: jdbc:mysql://prod_host:3306/rental_management_prod?useSSL=true&allowPublicKeyRetrieval=false
    username: peter
    password: peter

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true

server:
  port: 8080
  forward-headers-strategy: framework

logging:
  level:
    root: WARN
    com.peterscode: INFO

jwt:
  secret: b61eb47178bc3fc9fedd50fecb3f12416e0cc2fe3c37df6a809c2d7f33a060fb5398cab8d664a88c88fca90c8e5d9c6ce41e42e14e9919b980975b8dd4c56a5e
  expiration: 86400000
