spring:
  application:
    name: rental-management-system

  datasource:
    url: jdbc:mysql://localhost:3306/rental_management?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: peter
    password: peter
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none   # Flyway controls schema
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    clean-disabled: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: oumapeter757@gmail.com
    password: mocs jbgx echv fxpo
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: b61eb47178bc3fc9fedd50fecb3f12416e0cc2fe3c37df6a809c2d7f33a060fb5398cab8d664a88c88fca90c8e5d9c6ce41e42e14e9919b980975b8dd4c56a5e
  expiration-ms: 86400000 # 24 hours

mpesa:
  consumer-key: "84vsrJkA3kETbeAbJLHSYsuy6QjsBtfEwNQKoJv6XnP4sWV3"
  consumer-secret: "ysF5BOiGsNSXhvezFBVSGomUEG881l4OboDyYZYlv5pNZXbG8YrVv6KOEgAqSgYt"
  passkey: "bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919"
  shortcode: "174379"
  stk-push-url: "https://sandbox.safaricom.co.ke/mpesa/stkpush/v1/processrequest"
  auth-url: "https://sandbox.safaricom.co.ke/oauth/v1/generate"
  callback-url: "https://halfhearted-shavonda-unedificial.ngrok-free.dev/api/payments/mpesa/callback"
  environment: "sandbox"

server:
  port: 8080

logging:
  level:
    root: INFO
    com.peterscode: DEBUG
    org.springframework.security: DEBUG
