spring:
  application:
    name: rental-management-system

  datasource:
    url: jdbc:mysql://localhost:3306/rental_management?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: peter
    password: peter
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none   # Flyway controls schema
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    clean-disabled: true
    out-of-order: true
    validate-on-migrate: true


  spring:
    mail:
      host: smtp.gmail.com
      port: 587
      username: ${EMAIL_USERNAME:oumapeter757@gmail.com}
      password: ${EMAIL_PASSWORD:rkid bjht hqyu jmzb }
      properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true



    servlet:
      multipart:
        max-file-size: 10MB
        max-request-size: 100MB

      mvc:
        static-path-pattern: /static/**

      web:
        resources:
          static-locations: classpath:/static/,file:./uploads/
app:
  cors:
    allowed-origins: http://localhost:8000,http://localhost:3000,http://localhost:5500,http://127.0.0.1:8000,http://127.0.0.1:3000,http://127.0.0.1:5500
    allowed-methods: GET,POST,PUT,DELETE,PATCH,OPTIONS
    allowed-headers: "*"
    expose-headers: Authorization,Content-Disposition
    allow-credentials: true
    max-age: 3600

  upload-dir: ./uploads

  verification:
    url: http://localhost:8080/api/auth/verify-email
jwt:
  secret: b61eb47178bc3fc9fedd50fecb3f12416e0cc2fe3c37df6a809c2d7f33a060fb5398cab8d664a88c88fca90c8e5d9c6ce41e42e14e9919b980975b8dd4c56a5e
  expiration-ms: 86400000 # 24 hours

mpesa:
  consumer-key: "84vsrJkA3kETbeAbJLHSYsuy6QjsBtfEwNQKoJv6XnP4sWV3"
  consumer-secret: "ysF5BOiGsNSXhvezFBVSGomUEG881l4OboDyYZYlv5pNZXbG8YrVv6KOEgAqSgYt"
  passkey: "bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919"
  shortcode: "174379"
  stk-push-url: "https://sandbox.safaricom.co.ke/mpesa/stkpush/v1/processrequest"
  auth-url: "https://sandbox.safaricom.co.ke/oauth/v1/generate"
  callback-url: "https://halfhearted-shavonda-unedificial.ngrok-free.dev/api/payments/mpesa/callback"
  environment: "sandbox"

server:
  port: 8080
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    min-response-size: 1024

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      enabled: true
      show-details: always

logging:
  level:
    root: INFO
    com.peterscode: DEBUG
    org.springframework.security: DEBUG
